{% extends 'base.html' %}
{% block contenido %}
    <h2>Catálogo de Franquicias</h2>
    {% if perms.juegos.add_franquicia %}
        <form method="GET" action="/franquicias/nuevo/">
            <button type="submit">Añadir franquicias</button>
        </form>
    {% endif %}
    <ul>
        {% for elemento in franquicias %}
            <li>
                {{ elemento.nombre }} 
                <a href="/franquicias/{{ elemento.id }}/"> [+ Ver ficha] </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}