{% extends 'base.html' %}
{% block contenido %}
    <h2>Catálogo de Franquicias</h2>
    {% if perms.juegos.add_franquicia %}
        <form method="GET" action="/franquicias/nuevo/">
            <button class="nes-btn is-success" type="submit">Añadir franquicias</button>
        </form>
    {% endif %}
    <div class="catalogo">
            {% for elemento in franquicias %}
                <div class="tarjeta">
                    <img src="{{ elemento.imagen }}" alt="Franquicia">
                    {{ elemento.nombre }} 
                    <a href="/franquicias/{{ elemento.id }}/"> [+ Ver ficha] </a> </div>
            {% endfor %}
    </div>
{% endblock %}