{% extends 'base.html' %}
{% block contenido %}
    <h2>{{franquicia.nombre}}</h2>

        <div>{% if perms.juegos.change_franquicia %}
        <form method="GET" action="/franquicias/editar/{{franquicia.id}}/">
            <button type="submit">Editar franquicia</button>
        </form>
        {% endif %}

        {% if perms.juegos.delete_franquicia %}
        <form method="GET" action="/franquicias/borrar/{{franquicia.id}}/">
            <button type="submit">Borrar franquicia</button>
        </form>
        {% endif %}</div>

    <img src="{{ franquicia.imagen }}" alt="{{ franquicia.nombre }}">
    <p> {{franquicia.descripcion}} </p>

    <ul>
        {% for elemento in franquicia.juego_set.all %}
            <li>
              {{ elemento.titulo }} 
                <a href="/juegos/{{ elemento.id }}/"> [+ Ver ficha] </a>
            </li>
        {% endfor %}
    </ul>
    
    <div>{% if perms.juegos.add_juego %}
            <form method="GET" action="/juegos/nuevo/">
                <button type="submit">Añadir juego</button>
            </form>
    {% endif %}</div>

{% endblock %}