{% extends 'base.html' %}
{% block contenido %}
    <h2>{{ juego.titulo }}</h2>
    <div class="botones">{% if perms.juegos.change_juego %}
        <form method="GET" action="/juegos/editar/{{juego.id}}/">
            <button class="nes-btn is-warning" type="submit">Editar juego</button>
        </form>
    {% endif %}

    {% if perms.juegos.delete_juego %}
        <form method="GET" action="/juegos/borrar/{{juego.id}}/">
            <button class="nes-btn is-error" type="submit">Borrar juego</button>
        </form>
    {% endif %}</div>

    <img class="portada" src="{{ juego.imagen }}" alt="{{ juego.titulo }}">
    <div class="info"> <h3> Fecha </h3> <p> {{ juego.fecha_lanzamiento }} </p> </div>
    <div class="info"> <h3> Desarrolladora </h3> <p> {{ juego.desarrollador }} </p> </div>
    <div class="info"> <h3> Distribuidora </h3> <p> {{ juego.distribuidor }} </p> </div>
    <div class="info"> <h3> Franquicia </h3> <p> {{ juego.franquicia }} </p> </div>
    <div class="info"> <h3> Descripción </h3> <p> {{ juego.descripcion }} </p> </div>

 <div class="info"> <h3>Géneros</h3>
    <ul>
        {% for elemento in juego.generos.all %}
            <li>
                {{ elemento.nombre }} 
            </li>
        {% endfor %}
    </ul>
</div>

<div class="info"> <h3>Plataformas</h3>
    <ul>
        {% for elemento in juego.plataformas.all %}
            <li>
                {{ elemento.nombre }} 
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h3>Reseñas</h3>
        {% if juego.puntuacion_media %} 
        <p> Nota média: {{ media }}/10 </p>
        {% endif &}
            <ul>
                {% for elemento in juego.resena_set.all %}
                <li class="nes-container">
                    <div><a href="/perfiles/{{ elemento.usuario.id }}/"> {{ elemento.usuario }}  </a>, {{ elemento.puntuacion }}/10 ({{ elemento.fecha }})</div>
                    {{ elemento.comentario }}
                    {% if elemento.usuario == user %}
                        <form method="GET" action='/resenas/editar/{{ elemento.id }}/'>
                            <button class="nes-btn is-warning" type="submit">Editar reseña</button>
                        </form>
                    {% endif %}

                    {% if elemento.usuario == user or perms.juegos.delete_resena %}
                        <form method="GET" action='/resenas/borrar/{{ elemento.id }}/'>
                            <button class="nes-btn is-error" type="submit">Borrar reseña</button>
                        </form>
                    {% endif %}
                </li>
                
                {% empty %} <li>Sin reseñas.</li>
                {% endfor %}
            </ul>
</div>


<div>
    {% if user.is_authenticated %}
        <form method="GET" action="/resenas/nueva/{{juego.id}}/">
            <button class="nes-btn is-success" type="submit">Escribir reseña</button>
        </form>
    {% endif %}
</div>
{% endblock %}